<!-- assets/javascripts/discourse/templates/admin/moodle_api_settings.html.haml -->

{{moodle-api-settings}}

<h2>Configuración avanzada de Moodle</h2>
<div>
  <label>Token de autenticación para la API de Moodle</label>
  {{input value=dmu_moodle_api_token placeholder="Token de autenticación para la API de Moodle"}}
</div>
<div>
  <label>URL del servidor Moodle para la API</label>
  {{input value=dmu_moodle_api_url placeholder="URL del servidor Moodle para la API"}}
</div>
<button class="btn btn-primary" {{action "saveSettings"}}>Guardar</button>

